body {
  padding: 10px 30px 0 30px;
}

#h1border {
  border: thick double #32a1ce;
  /* border-color: green; */
  width: 290px;
  border-style: outset;
  border-width: 15px;
  border-top-color: #16DB93;
  border-bottom-color: #A4036F;
  border-left-color: #EFEA5A;
  border-right-color: #FE5E41;
  border-radius: 10px;
}
/*
button {
  font-size: 16px;
  padding: 8px;
}

.redButton{
  background-color: pink;
}
.greenButton{
  background-color: lightgreen;
}
.blueButton{
  background-color: lightblue;
}
.yellowButton{
  background-color: yellow;
}
.pinkButton{
  background-color: pink;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin-top: 15px;
} */
